body {
    background-image: linear-gradient(120deg, rgb(235, 234, 243) 10%, rgb(204, 207, 209) 90%);
     
} 

h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: DarkBlue;
    color: white;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
}

thead{
    background-color: rgb(86, 86, 86) !important;
    color: white;
    cursor: pointer;
}